html,
body {
  padding: 0;
  margin: 0;
  font-family: Source-OpenSans, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

li {
  list-style: none;
}

li::before {
  content: "\00BB";
  padding-right: 1rem;
  padding-bottom: 1rem;
}

li {
  display: inline-flex;
}

@font-face {
  font-family: "Source-OpenSans";
  src: url("../public/assets/fonts/SourceSansPro-Regular.ttf");
  src: url("../public/assets/fonts/SourceSansPro-SemiBold.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source-OpenSansLight";
  src: url("../public/assets/fonts/SourceSansPro-Light.ttf");
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../public/assets/fonts/Poppins-Regular.ttf");
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Kicker-Black";
  src: url("../public/assets/fonts/Kicker-Black.ttf");
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "NeueMachina-Ultrabold";
  src: url("../public/assets/fonts/NeueMachina-Ultrabold.otf");
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "NeueMachina-Regular";
  src: url("../public/assets/fonts/NeueMachina-Regular.otf");
  font-display: swap;

}
@font-face {
  font-family: "Hanson-Bold";
  src: url("../public/assets/fonts/Hanson-Bold.ttf");
  font-display: swap;

}

@font-face {
  font-family: "ObjectSans-Regular";
  src: url("../public/assets/fonts/ObjectSans-Regular.otf");
  font-display: swap;

}


@font-face {
  font-family: "jukotha-regular";
  src: url("../public/assets/fonts/jukotha-regular.otf");
  font-display: swap;

}

@font-face {
  font-family: "lemon-milk";
  src: url("../public/assets/fonts/lemon-milk.otf");
  font-display: swap;

}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../public/assets/fonts/ClashDisplay-Bold.ttf");
  font-display: swap;

}
.rec.rec-arrow:disabled {
  visibility: hidden;
}


.container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
}

.chevron {
  position: absolute;
  width: 0.6rem * 3.5;
  height: 0.6rem * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: #2c3e50;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY(0.6rem * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY(0.6rem * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY(0.6rem * 8) scale(0.5);
 }
}







  .arrows {
    position: relative;
    /**/
    position: absolute;
    top:50%;
    left:50%;
    /**/
    width:80px;
    height:80px;
    transform:translate(-50%,-50%);
   
}

.arrows::before{
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    border-left:80px/3 solid rgba(0,0,0,0.7);
    border-bottom:80px/3 solid rgba(0,0,0,0.7);
    transform:translate(80px/3,80px*4/3)rotate(-45deg);
    animation: arrows 3s linear infinite;
}

.arrows::after{
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    border-left:80px/3 solid rgba(0,0,0,0.7);
    border-bottom:80px/3 solid rgba(0,0,0,0.7);
    transform:translate(80px*2/3,0px)rotate(-45deg) ;
    animation: arrows 3s linear infinite 3s/-2;
  
}

@keyframes arrows {
  0% {
      border-left:80px/3 solid rgba(0,0,0,0);
      border-bottom:80px/3 solid rgba(0,0,0,0);
      transform:translate(80px/-6,80px*4/-6)rotate(-45deg) ;
  }
  10%, 90% {
      border-left:80px/3 solid rgba(0,0,0,0);
      border-bottom:80px/3 solid rgba(0,0,0,0);
  }
  50% {
      border-left:80px/3 solid rgba(0,0,0,0.7);
      border-bottom:80px/3 solid rgba(0,0,0,0.7);
      transform:translate(80px/-6,0px)rotate(-45deg) ;
  }
  100% {
      border-left:80px/3 solid rgba(0,0,0,0);
      border-bottom:80px/3 solid rgba(0,0,0,0);
      transform:translate(80px/-6,80px*4/6)rotate(-45deg) ;
  }
}